body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container {
    text-align: center;
}

.party-container {
    text-align: center;
}

.party-container ul li {
    list-style: none;
}

img{
    width:100%;
    max-width:600px;
}